<section class="container">
    <article class="row">

        <a class="col-xs-6 button"
           #newItem="routerLinkActive"
           [routerLink]="updating ? null : 'add-item'"
           routerLinkActive="button-active"
           [routerLinkActiveOptions]="{exact: true}"
           [class.disabled]="isDisabled">

            Add new event item
            <img *ngIf="newItem.isActive && isDisabled === false"
                 src="/assets/icons/icon-add-25x25.png">
        </a>

        <a class="col-xs-6 button"
           #editItem="routerLinkActive"
           [routerLink]="updating ? null : 'edit-items'"
           routerLinkActive="button-active"
           [routerLinkActiveOptions]="{exact: true}"
           [class.disabled]="isDisabled">

            Edit event Items
            <img *ngIf="editItem.isActive && isDisabled === false"
                 src="/assets/icons/icon-edit-25x25.png">
        </a>

        <a class="col-xs-6 button"
           #newCategory="routerLinkActive"
           [routerLink]="updating ? null : 'add-category'"
           routerLinkActive="button-active"
           [routerLinkActiveOptions]="{exact: true}"
           [class.disabled]="updating">

            Add new event category
            <img *ngIf="newCategory.isActive && isDisabled === false"
                 src="/assets/icons/icon-add-25x25.png">
        </a>

        <a class="col-xs-6 button"
           #editCategory="routerLinkActive"
           [routerLink]="updating ? null : 'edit-category'"
           routerLinkActive="button-active"
           [routerLinkActiveOptions]="{exact: true}"
           [class.disabled]="isDisabled">

            Edit event Categories
            <img *ngIf="editCategory.isActive && isDisabled === false"
                 src="/assets/icons/icon-edit-25x25.png">
        </a>

    </article>
</section>
<router-outlet></router-outlet>