<!-- Start/End Date -->
<div class="col-xs-8 no-padding date-time-container">

  <!-- Uses End Date -->
  <div class="col-xs-12">
    <label for="usesEndDate">Event spans over more than 1 day</label>
    <input id="usesEndDate"
           type="checkbox"
           name="usesEndDate"
           [(ngModel)]="usesEndDate"
           (change)="toggleEndDate()">
    <!--dateTimeValidate()-->
  </div>

  <!-- Date Picker -->
  <div class="col-xs-12">
    <ngb-datepicker #dp (select)="onDateSelection($event)"
                    [class.date-picker]="true"
                    [displayMonths]="monthsDisplayed"
                    [dayTemplate]="t"
                    outsideDays="hidden">
      <!--(click)="dateTimeValidate()"-->
    </ngb-datepicker>

    <ng-template #t let-date let-focused="focused">
                      <span class="custom-day"
                            [class.focused]="focused"
                            [class.range]="isRange(date)"
                            [class.faded]="isHovered(date) || isInside(date)"
                            (mouseenter)="hoveredDate = date"
                            (mouseleave)="hoveredDate = null">
                        {{ date.day }}
                      </span>
    </ng-template>
  </div>

</div>

<!-- Start/End Time-->
<div class="col-xs-4 no-padding date-time-container">

  <!-- Uses Start Time -->
  <div class="col-xs-12">
    <label for="usesStartTime">Has Start Time</label>
    <input id="usesStartTime"
           type="checkbox"
           name="usesStartTime"
           [(ngModel)]="usesStartTime">
    <!--(change)="dateTimeValidate()"-->
  </div>

  <!-- Start Time Picker -->
  <div class="col-xs-12">
    <ngb-timepicker name="startTime"
                    class="time-picker"
                    [(ngModel)]="startTime"
                    [minuteStep]="5"
                    [disabled]="!usesStartTime"
                    required></ngb-timepicker>
    <!--
                    (click)="dateTimeValidate()"-->
  </div>
  <hr>

  <!-- Uses End Time -->
  <div class="col-xs-12">
    <label for="usesEndTime">Has End Time</label>
    <input id="usesEndTime"
           type="checkbox"
           name="usesEndTime"
           [(ngModel)]="usesEndTime">
    <!--(change)="dateTimeValidate()"-->
  </div>

  <!-- End Time Picker -->
  <div class="col-xs-12">
    <ngb-timepicker name="endTime"
                    class="time-picker"
                    [(ngModel)]="endTime"
                    [minuteStep]="5"
                    [disabled]="!usesEndTime"
                    required></ngb-timepicker>

    <!--(click)="model.dateTimeValidate()"-->
  </div>

</div>