<nav class="navbar navbar-fixed-top tap-out-nav tap-out-nav-border" style="background-color: black">
  <section class="container">
    <div class="navbar-header" style="float: left">
      <a class="navbar-toggle nav-image" routerLink="/home" (click)="setTitle('Home')"><img src="/assets/nav-bar-logo-scaled.png"></a>
    </div>

    <!-- Hamburger Button -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              (click)="toggleState()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </section>

  <!-- Navbar -->
  <section class="collapse navbar-collapse" [ngClass]="{ 'in' : isIn }" id="tap-out-nav">

    <ul class="nav navbar-nav site-navigation tap-out-nav-border">
      <li>
        <a (click)="collapseMenu(); setTitle('Home');" routerLink="/home">HOME</a>
      </li>
      <li>
        <a (click)="collapseMenu(); setTitle('Menu');" routerLink="/menu">MENU</a>
      </li>
      <li>
        <a (click)="collapseMenu(); setTitle('Gallery');" routerLink="/gallery">GALLERY</a>
      </li>
      <li>
        <a (click)="collapseMenu(); setTitle('Events');" routerLink="/events">EVENTS</a>
      </li>
      <li>
        <a (click)="collapseMenu(); setTitle('Delivery');" routerLink="/delivery">DELIVERY</a>
      </li>
      <li>
        <a (click)="collapseMenu(); setTitle('Contact');" routerLink="/contact">CONTACT</a>
      </li>
      <li>
        <a (click)="collapseMenu(); setTitle('About');" routerLink="/about">ABOUT</a>
      </li>
    </ul>

  </section>
</nav>
<div class="top-page">
</div>

