<nav class="navbar navbar-fixed-top tap-out-nav tap-out-nav-border" style="background-color: black">
  <section class="container">
    <div class="navbar-header" style="float: left">
      <a class="navbar-toggle nav-image"><img src="../../../assets/nav-bar-logo-scaled.png"></a>
    </div>

    <!-- Hamburger Button -->
    <div class="navbar-header">
      <button type="button"
              class="navbar-toggle"
              (click)="toggleState()">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
    </div>
  </section>

  <!-- Navbar -->
  <section class="collapse navbar-collapse" [ngClass]="{ 'in' : isIn }">
    <!--<img style="float:left" [src]="imgSrc" width="50" height="50" alt="">-->
    <ul class="nav navbar-nav site-navigation tap-out-nav-border">
      <!-- Logo/Homepage link -->

      <li><a (click)="collapseMenu()" routerLink="/home">HOME</a></li>
      <li><a (click)="collapseMenu()" routerLink="/menu">MENU</a></li>
      <li><a (click)="collapseMenu()" routerLink="/gallery">GALLERY</a></li>
      <li><a (click)="collapseMenu()" routerLink="/events">EVENTS</a></li>
      <li><a (click)="collapseMenu()" routerLink="/contact">CONTACT</a></li>
      <li><a (click)="collapseMenu()" routerLink="/about">ABOUT</a></li>
    </ul>
  </section>
</nav>
<div class="top-page"></div>