
<main class="container" >
    <!-- Container for about-page grid -->
    <div class="row">
        <!-- In this case grand-container doesn't do anything, only there for continuity -->
        <section class="col-sm-12 grand-container">
            <!-- Loop for about page info -->
            <article *ngFor="let individual of individuals" class="col-12 inner-container">
                <div class="tap-out-header">
                    <!-- Descriptor -->
                    {{individual.descriptor}}
                </div>
                <div class="tap-out-content-container tap-out-content-border">
                    <!-- Description -->
                    <p class="tap-out-paragraph">{{individual.description}}</p>
                </div>
            </article>
        </section>
    </div>
</main>
