.gallery-grand-container{
    padding: 0;
}

.gallery-image{
    border: 1px solid var(--off-background-color);
    max-width: 95%;
}

.row {
    margin: 0;
}

img {
    min-width: 266px;
    min-height: 150px;
}