<div class="no-padding col-xs-6"
     *ngFor="let category of menuData; let index = index;"
     [class.spacer]="(index === 0) || (index === 1)">

    <button class="button"
            [disabled]="category.items === null"
            (click)="toggleCategory(category)"
            [class.disabled]="category.items === null"
            [class.button-active]="compareCategoryIds(category.id)">
        {{category.enName}} / {{category.vnName}}
    </button>

</div>
<div *ngIf="selectedCategory">
    <div *ngFor="let item of selectedCategory.items; let index = index">

        <button class="button"
                data-toggle="collapse"
                attr.data-target="#item-{{item.itemId}}"
                [class.spacer]="index === 0"
                (click)="cancelEdit(index)">
            <span style="float: left; text-transform: none; margin-right: -150px;">Category Position: {{item.position}}</span>
            <span style="align-content: center">{{item.enTitle}} / {{item.vnTitle}}</span>
        </button>
        <div class="col-xs-12 collapse in editable-container"
             id="item-{{item.itemId}}">

            <div class="row row-eq-height no-margin" *ngIf="!item.editToggle">
                <!-- None form details -->
                <div class="col-xs-9">

                    <div class="row no-margin">
                        <p class="col-xs-2">English Title:</p>
                        <p class="col-xs-6">{{item.enTitle}}</p>
                        <p class="col-xs-2">Category:</p>

                        <p class="col-xs-2">{{selectedCategory.enName}}/<br>{{selectedCategory.vnName}}</p>
                    </div>

                    <div class="row no-margin">
                        <p class="col-xs-2">Vietnamese Title:</p>
                        <p class="col-xs-6">{{item.vnTitle}}</p>

                        <p class="col-xs-2">Position:</p>
                        <p class="col-xs-2">{{item.position}}</p>
                    </div>

                    <div class="row no-margin">
                        <p class="col-xs-2">Price:</p>
                        <p class="col-xs-4">{{item.price}}</p>
                    </div>

                    <div class="row no-margin">
                        <p class="col-xs-2">English Description:</p>
                        <p class="col-xs-4">{{item.enDescription}}</p>

                        <p class="col-xs-2">Vietnamese Description:</p>
                        <p class="col-xs-4">{{item.vnDescription}}</p>
                    </div>

                    <div class="row no-margin">
                        <p class="col-xs-2">Created at:</p>
                        <p class="col-xs-4">{{item.createdAt}}</p>
                        <p class="col-xs-2">Edited at:</p>
                        <p class="col-xs-4">{{item.editedAt}}</p>

                    </div>
                </div>

                <!-- None form buttons -->
                <div class="col-xs-3">

                    <button class="button-edit"
                            (click)="moveUp(index)"
                            [disabled]="index === 0 || updating"
                            [class.disabled]="index === 0 || updating">
                        Move up<img src="/assets/icons/icon-arrow-up-25x25.png">
                    </button>

                    <button class="button-edit"
                            (click)="moveDown(index)"
                            [disabled]="lastItem(index) || updating"
                            [class.disabled]="lastItem(index) || updating">
                        Move down<img src="/assets/icons/icon-arrow-down-25x25.png">
                    </button>

                    <button class="button-edit"
                            (click)="initializeEdit(item);"
                            [disabled]="updating"
                            [class.disabled]="updating">
                        Edit<img src="/assets/icons/icon-edit-25x25.png">
                    </button>

                    <button class="button-edit button-delete"
                            (click)="initializeDelete(item)"
                            [disabled]="updating"
                            [class.disabled]="updating">
                        Delete<img src="/assets/icons/icon-delete-25x25.png">
                    </button>

                </div>
            </div>


            <form class="row row-eq-height no-margin" #menuItem="ngForm" *ngIf="item.editToggle">
                <!-- Form details -->
                <div class="col-xs-9">

                    <div class="row no-margin">
                        <label class="col-xs-2" for="enTitle">English Title:</label>
                        <input class="col-xs-6"
                               id="enTitle"
                               name="enTitle"
                               type="text"
                               minlength="4"
                               maxlength="255"
                               required
                               (change)="formChange()"
                               [(ngModel)]="model.enTitle"
                               #enTitle="ngModel">

                        <label class="col-xs-2" for="category">Category:</label>
                        <select class="col-xs-2"
                                id="category"
                                name="category"
                                required
                                (change)="checkCategory()"
                                [(ngModel)]="model.categoryId"
                                #category="ngModel">
                            <option *ngFor="let category of menuData" [ngValue]="category.id">
                                {{category.enName}} / {{category.vnName}}
                            </option>
                        </select>
                    </div>

                    <div class="row no-margin">
                        <label class="col-xs-2" for="vnTitle">Vietnamese Title:</label>
                        <input class="col-xs-6"
                               id="vnTitle"
                               name="vnTitle"
                               type="text"
                               minlength="4"
                               maxlength="255"
                               required
                               (change)="formChange();"
                               [(ngModel)]="model.vnTitle"
                               #vnTitle="ngModel">

                        <p class="col-xs-2">Position:</p>
                        <p class="col-xs-2">{{model.position}}</p>
                    </div>

                    <div class="row no-margin">
                        <label class="col-xs-2" for="price">Price:</label>
                        <input class="col-xs-6"
                               id="price"
                               name="price"
                               type="text"
                               required
                               (change)="formChange();"
                               [(ngModel)]="model.price"
                               #price="ngModel">

                        <label class="col-xs-3" for="noDescription">No description</label>
                        <input class="col-xs-1"
                               id="noDescription"
                               name="noDescription"
                               type="checkbox"
                               (change)="formChange();"
                               [(ngModel)]="model.disableDescription"
                               #noDescription="ngModel">
                    </div>

                    <div class="row no-margin">
                        <label class="col-xs-2" for="enDescription">English Description:</label>
                        <textarea class="col-xs-10"
                                  id="enDescription"
                                  name="enDescription"
                                  minlength="4"
                                  required
                                  (change)="formChange();"
                                  [disabled]="model.disableDescription"
                                  [(ngModel)]="model.enDescription"
                                  #enDescription="ngModel"></textarea>

                        <label class="col-xs-2" for="vnDescription">Vietnamese Description:</label>
                        <textarea class="col-xs-10"
                                  id="vnDescription"
                                  name="vnDescription"
                                  minlength="4"
                                  required
                                  (change)="formChange();"
                                  [disabled]="model.disableDescription"
                                  [(ngModel)]="model.vnDescription"
                                  #vnDescription="ngModel"></textarea>
                    </div>

                    <div class="row no-margin">
                        <p class="col-xs-2">Created at:</p>
                        <p class="col-xs-4">{{item.createdAt}}</p>
                        <p class="col-xs-2">Edited at:</p>
                        <p class="col-xs-4">{{item.editedAt}}</p>
                    </div>

                </div>

                <!-- Form Buttons -->
                <div class="col-xs-3">

                    <button class="button-edit"
                            (click)="moveUp(index)"
                            [disabled]="index === 0 || updating"
                            [class.disabled]="index === 0 || updating">
                        Move up<img src="/assets/icons/icon-arrow-up-25x25.png">
                    </button>

                    <button class="button-edit"
                            (click)="moveDown(index)"
                            [disabled]="lastItem(index) || updating"
                            [class.disabled]="lastItem(index) || updating">
                        Move down<img src="/assets/icons/icon-arrow-down-25x25.png">
                    </button>

                    <button class="button-edit"
                            [disabled]="updating"
                            (click)="cancelEdit(index);"
                            [class.disabled]="updating">
                        Cancel<img src="/assets/icons/icon-cancel-25x25.png">
                    </button>

                    <button class="button-edit"
                            (click)="initializeSave(index)"
                            [disabled]="menuItem.form.invalid || updating || !hasChanged"
                            [class.invalid]="menuItem.form.invalid || !hasChanged"
                            [class.disabled]="updating">
                        Save<img src="/assets/icons/icon-save-25x25.png">
                    </button>

                    <button class="button-edit button-delete"
                            (click)="initializeDelete(item)"
                            [class.disabled]="updating">
                        Delete<img src="/assets/icons/icon-delete-25x25.png">
                    </button>

                    <div class="warning">
                        <p class="warning" *ngIf="model.categoryId !== selectedCategory.id">
                            You have selected to move this item to a different category
                        </p>
                    </div>

                </div>

                <!-- todo: Once finished remove this -->
                <div class="row no-margin">
                    <div class="col-xs-4">
                        <p>CategoryId: {{model.categoryId}}</p>
                        <p>Position: {{model.position}}</p>
                        <p>English Title: {{model.enTitle}}</p>
                        <p>Vietnamese Title: {{model.vnTitle}}</p>
                        <p>English Description: {{model.enDescription}}</p>
                        <p>Vietnamese Description: {{model.vnDescription}}</p>
                        <p>Price: {{model.price}}</p>
                    </div>
                    <div class="col-xs-4">
                        <p>Valid or not</p>
                        <p>enTitle: {{enTitle.invalid}}</p>
                        <p>category: {{category.invalid}}</p>
                        <p>vnTitle: {{vnTitle.invalid}}</p>
                        <p>Price: {{price.invalid}}</p>
                        <p>enDescription: {{enDescription.invalid}}</p>
                        <p>vnDescription: {{vnDescription.invalid}}</p>
                    </div>
                    <div class="col-xs-4">
                        <p>Category:</p>
                        <p>id: {{selectedCategory.id}}</p>
                        <p>type: {{selectedCategory.type}}</p>
                        <p>enName: {{selectedCategory.enName}}</p>
                        <p>vnName: {{selectedCategory.vnName}}</p>
                        <p>position: {{selectedCategory.position}}</p>
                        <p>items length: {{selectedCategory.items.length}}</p>
                        <p>editToggle: {{selectedCategory.editToggle}}</p>
                    </div>
                </div>

            </form>

        </div>

    </div>
</div>
