<div class="row">
    <div class="col-xs-12 col-sm-12">

        <section class="inner-container" *ngFor="let eventsObjects of eventItems">
            <button class="btn-primary" type="button" data-toggle="collapse"
                    attr.data-target=".{{eventsObjects.eventCategoryID}}" aria-expanded="false"
                    aria-controls="collapsible-content">
                {{eventsObjects.eventCategoryName}}
            </button>
            <div class="collapse in tap-out-content-container {{eventsObjects.eventCategoryID}}">
                <article *ngFor="let eventObject of eventsObjects.eventCategory" class="row tap-out-row">
                    <div class="row row-eq-height tap-out-row">
                        <div class="col-xs-9 tap-out-content-border">
                            <p class="tap-out-paragraph line-breaker" [innerHtml]="eventObject.eventDescription" style="text-align: left;"></p>
                        </div>
                        <div class="col-xs-3 tap-out-content-border">
                            <!-- 'shortTime' has the following format: 8:00 PM -->
                            <p class="tap-out-paragraph" *ngIf="eventObject.eventDescription !== 'February 5, 2019 - Closed for the day'">{{eventObject.eventTime | date: 'short'}}</p>
                            <!--<p class="tap-out-paragraph" *ngIf="eventObject.eventDescription === 'Closed for the day'">{{eventObject.eventTime | date: 'shortDate'}}</p>-->
                        </div>
                    </div>
                </article>
            </div>
        </section>
        <ng-container *ngIf="_hideWeeklyEvents">
            <section class="inner-container" *ngFor="let events of eventWeeklyItems">
                <button class="btn-primary" type="button" data-toggle="collapse" attr.data-target=".{{events.eventID}}"
                        aria-expanded="false" aria-controls="collapsible-content">
                    <!-- 'fullDate' has the following format: Monday, July 14, 2005 -->
                    {{events.eventSubHeading}}
                </button>
                <div class="collapse in tap-out-content-container {{events.eventID}}">
                    <article class="row tap-out-row">
                        <!-- Checks to see if description is false or not so we don't get unnecessary CSS which makes it look ugly -->
                        <div class="tap-out-description" *ngIf="events.eventDescription != 'false'">
                            <p class="tap-out-paragraph line-breaker">{{events.eventDescription}}</p>
                        </div>
                    </article>
                </div>
            </section>
        </ng-container>


    </div>
</div>
