<header class="row inner-container">
    <section class="col-sm-12 button-container">
        <div class="col-sm-12">
            <h4>Admin Edit Center{{page}}</h4>
        </div>
        <div class="col-sm-2">
            <button class="btn-primary" routerLink="Home" (click)="setModulePage('Home')">Home</button>
        </div>
        <div class="col-sm-2">
            <button class="btn-primary" routerLink="Menu" (click)="setModulePage('Menu')">Menu</button>
        </div>
        <div class="col-sm-2">
            <button class="btn-primary" routerLink="Gallery" (click)="setModulePage('Gallery')">Gallery</button>
        </div>
        <div class="col-sm-2">
            <button class="btn-primary" routerLink="Events" (click)="setModulePage('Events')">Events</button>
        </div>
        <div class="col-sm-2">
            <button class="btn-primary" routerLink="Contact" (click)="setModulePage('Contact')">Contact</button>
        </div>
        <div class="col-sm-2">
            <button class="btn-primary" routerLink="About" (click)="setModulePage('About')">About</button>
        </div>
    </section>
</header>
<router-outlet></router-outlet>