<header class="container admin-nav">
    <!--<div class="">-->
        <section class="row inner-container">
            <h4 class="col-xs-12">Admin Edit Center{{page}}</h4>
        </section>

        <section class="row inner-container">
            <a class="col-sm-2" routerLink="home" (click)="setModulePage('Home')">
                <div class="button">
                    Home
                </div>
            </a>
            <a class="col-sm-2" routerLink="menu" (click)="setModulePage('Menu')">
                <div class="button">
                    Menu
                </div>
            </a>
            <a class="col-sm-2" routerLink="gallery" (click)="setModulePage('Gallery')">
                <div class="button">
                    Gallery
                </div>
            </a>
            <a class="col-sm-2" routerLink="events" (click)="setModulePage('Events')">
                <div class="button">
                    Events
                </div>
            </a>
            <a class="col-sm-2" routerLink="contact" (click)="setModulePage('Contact')">
                <div class="button">
                    Contact
                </div>
            </a>
            <a class="col-sm-2" routerLink="about" (click)="setModulePage('About')">
                <div class="button">
                    About
                </div>
            </a>
        </section>
    <!--</div>-->


</header>
<app-notification></app-notification>