<header class="container inner-container">
  <section class="row col-sm-12 button-container">
    <div class="col-sm-12">
      <h4>Admin Edit Center{{page}}</h4>
    </div>
    <div class="col-sm-2">
      <button class="btn-primary" routerLink="home" (click)="setModulePage('Home')">Home</button>
    </div>
    <div class="col-sm-2">
      <button class="btn-primary" routerLink="menu" (click)="setModulePage('Menu')">Menu</button>
    </div>
    <div class="col-sm-2">
      <button class="btn-primary" routerLink="gallery" (click)="setModulePage('Gallery')">Gallery</button>
    </div>
    <div class="col-sm-2">
      <button class="btn-primary" routerLink="events" (click)="setModulePage('Events')">Events</button>
    </div>
    <div class="col-sm-2">
      <button class="btn-primary" routerLink="contact" (click)="setModulePage('Contact')">Contact</button>
    </div>
    <div class="col-sm-2">
      <button class="btn-primary" routerLink="about" (click)="setModulePage('About')">About</button>
    </div>
  </section>
</header>