a {
    color: var(--main-color);
    padding: 0;
}
a:hover {
    color: var(--main-color);
}
a:focus {
    color: var(--main-color);
}

.inner-container {
    margin: 0;
    padding-left: 0;
    padding-right: 0;
    text-align: center;
}

.admin-nav {
    padding: 0;
}