<main class="container">
    <!-- Container for contact-page grid -->
    <div class="row">
        <section class="col-sm-12 col-md-6 grand-container">
            <article class="inner-container">
                <div class="tap-out-header">
                    <!-- Descriptor -->
                    Address
                </div>
                <div class="tap-out-content-container tap-out-content-border">
                    <!-- Description -->
                    <p class="tap-out-paragraph">
                        170 Cong Quynh<br>
                        District 1<br>
                        HCMC
                    </p>
                </div>
            </article>
            <article class="inner-container">
                <div class="tap-out-header">
                    <!-- Descriptor -->
                    Contact
                </div>
                <div class="tap-out-content-container tap-out-content-border">
                    <!-- Description -->
                    <p class="tap-out-paragraph">
                        <!-- Contact Number is subject to change -->
                        Contact Number: +84 963 806 071<br>
                        Reservations:  +84 28 62702700<br>
                        Email: contact@tapoutvietnam.com
                    </p>
                </div>
            </article>
            <article class="inner-container">
                <div class="tap-out-header">
                    <!-- Descriptor -->
                    Social Media
                </div>
                <div class="tap-out-content-container tap-out-content-border">
                    <!-- Description -->
                    <a href="https://www.facebook.com/tapout84/" class="tap-out-paragraph fa fa-facebook"></a>
                    <a href="https://www.instagram.com/tapoutvietnam/" class="tap-out-paragraph fa fa-instagram"></a>
                </div>
            </article>
            <article class="inner-container">
                <div class="tap-out-header">
                    <!-- Descriptor -->
                    Opening Hours
                </div>
                <div class="tap-out-content-container tap-out-content-border">
                    <!-- Description -->
                    <p class="tap-out-paragraph">
                        Restaurant:<br>
                        Monday-Sunday: 11:00-Late<br><br>
                        Kitchen:<br>
                        Monday & Tuesday: 15:00-Late<br>
                        Wednesday-Sunday: 11:00-Late
                    </p>
                </div>
            </article>
        </section>
        <section class="col-sm-12 col-md-6 grand-container">
            <article class="inner-container">
                <div class="tap-out-header">
                    Map
                </div>
                <figure class="tap-out-content-container">
                    <img src="../assets/temp-map.jpg" style="width: 100%" alt="">
                </figure>
            </article>
        </section>
    </div>
</main>
