<section class="edit-container">
    <ng-container *ngFor="let item of pageInfoService.pageItems; let itemIndex = index">
        <article class="row edit-article" *ngIf="item['imgUrl'] !== undefined; else pageItem">
           <app-image-container [imageItem]="item" [imageIndex]="itemIndex"></app-image-container>
        </article>

        <ng-template #pageItem>
            <article class="row edit-article">
                <app-page-item [pageItem]="item" [pageIndex]="itemIndex"></app-page-item>
            </article>
        </ng-template>
    </ng-container>
</section>
