article.edit-article {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: var(--off-background-color);
    border: 1px solid var(--background-color);
}

.page-item-header {
    max-width: 100%;
}

article.edit-article button {
    text-align: left;
    width: 100%;
    background-color: var(--off-background-color);
    font-size: 16px;
    border-radius: 0;
    border: 1px solid var(--background-color);
    text-decoration: none;
    color: var(--main-color);
    outline: none !important;
    padding: 5px;
}

div.edit-article-content button.edit-buttons {
    margin: 5px;
    text-align: center;
    background-color: var(--border-split-color);
}
div.edit-article-content button.edit-buttons:hover {
    background-color: var(--background-color);
}
div.edit-article-content button.edit-buttons:active {
    background-color: var(--background-color);
}
div.edit-article-content button.edit-buttons:focus {
    background-color: var(--background-color);
}

button img {
    border: 0;
    float: left;
    height: 22px;
}

article.edit-article button:hover {
    background-color: var(--border-split-color);
}
article.edit-article button:active {
    background-color: var(--border-split-color);
}
article.edit-article button:focus {
    background-color: var(--border-split-color) !important;
}

div.edit-article-content {
    margin: 0;
    border: 1px solid var(--background-color);
}

h3 {
    text-align: center;
}
h4 {
    font-size: 14px;
    color: var(--comp-color);
}
input {
    width: 100%;
    color: var(--background-color);
    border: 0;
    padding: 3px;
}

textarea {
    width: 100%;
    color: var(--background-color);
    height: 150px;
    resize: none;
    border: 0;
    padding: 3px;
    margin-bottom: 10px;
}

p {
    line-height: 20px;
    padding: 3px;
    margin: 0;
}