.new-item-container {
    background-color: var(--off-background-color);
}

.new-item-container > div {
    padding: 10px 0;
}

.new-item-container .button-edit {
    margin: 5px;
}

.new-item-container input {
    max-width: 455px;
}