<section class="col-sm-12 grand-container">
    <section class="inner-container">
        <figure style="text-align: center">
            <picture>
                <source media="(max-width: 539px)" srcset="/assets/Home-page-image/720.jpg" style="width: 100%">
                <source media="(min-width: 540px)" srcset="/assets/Home-page-image/1140.jpg" style="width: 100%">
                <img src="/assets/Home-page-image/1380.jpg" alt="" style="width: 100%; border: 1px solid var(--background-color)">
            </picture>
        </figure>
        <article class="tap-out-header">Welcome</article>
        <article class="tap-out-paragraph tap-out-content-container tap-out-content-border">
            <a routerLink="/contact">* Due to changes in our kitchen, kitchen opening times have changed, see our Contact page for the exact details</a><br><br>
            Join us for great BBQ,
            Craft Beers and introducing our Tap Tables. Book your Kegs now and have your
            own personal Tap on Table to enjoy while you support your teams.<br><br>
            Book Your Tap Table Now!<br>
            contact@tapoutvietnam.com<br>
            +84 28 62702700
        </article>
    </section>
</section>