<section class="row">
    <div class="col-xs-12" style="text-align: center">
        <p class="disclaimer">All prices are subject to a 10% VAT charge</p>
    </div>
</section>


<section class="col-sm-4 col-xs-12">
    <article class="inner-container">

        <button class="btn-primary"
                type="button"
                (click)="isCollapsed = !isCollapsed"
                [attr.aria-expanded]="isCollapsed"
                aria-controls="collapsible-delivery-details">
            <div class="arrow-container"
                 [class.up]="!isCollapsed"
                 [class.down]="isCollapsed">
                <div class="arrow"
                     [class.up]="!isCollapsed"
                     [class.down]="isCollapsed"></div>
            </div>
            <img src="/assets/icons/icon-phone-25x25.png">Tap Out Delivery
        </button>

        <div id="delivery-details"
             class="tap-out-content-container"
             [ngbCollapse]="isCollapsed">

            <div class="row tap-out-row">
                <div class="col-xs-12 tap-out-content-border">
                    <p class="tap-out-sub-heading" style="text-align: center;">
                        Minimum order 200,000
                        <span [innerHTML]="vietnameseDong"></span>
                    </p>
                </div>
            </div>

            <div class="tap-out-description" style="text-align: center;">
                <p class="tap-out-paragraph line-breaker">Free of charge when calling:</p>
                <a href="tel:028 6270 2700">Tel: 028 6270 2700,</a><br>
                <a href="tel:096 380 6071">Tel: 096 380 6071</a>
                <p class="tap-out-paragraph">
                    Delivery times: 15:00 - 22:00
                </p>
            </div>

        </div>
    </article>
</section>

<section class="col-sm-8 col-xs-12">

    <!-- Loop through left menu categories -->
    <article class="inner-container" *ngFor="let foods of foodItems">

        <button class="btn-primary"
                type="button"
                (click)="foods.isCollapsed = !foods.isCollapsed"
                [attr.aria-expanded]="!foods.isCollapsed"
                aria-controls="collapsible-food-category">
            <div class="arrow-container"
                 [class.up]="!foods.isCollapsed"
                 [class.down]="foods.isCollapsed">
                <div class="arrow"
                     [class.up]="!foods.isCollapsed"
                     [class.down]="foods.isCollapsed"></div>
            </div>
            {{foods.categoryName}}
        </button>
        <div class="tap-out-content-container"
             [ngbCollapse]="foods.isCollapsed">

            <!-- Loop through menu items -->
            <ng-container *ngFor="let food of foods.category">

                <div class="row row-eq-height tap-out-row">

                    <div class="col-xs-9 tap-out-content-border" *ngIf="food.foodPrice != 'false'">
                        <p class="tap-out-sub-heading">{{food.foodDescriptor}}</p>
                    </div>

                    <div class="col-xs-3 tap-out-content-border" *ngIf="food.foodPrice != 'false'">
                        <p class="tap-out-paragraph" *ngIf="food.foodPrice !== null">{{food.foodPrice}}<span
                                [innerHTML]="vietnameseDong"></span></p>
                    </div>
                </div>

                <div class="tap-out-description" *ngIf="food.foodDescription != 'false'">
                    <p class="tap-out-paragraph line-breaker">{{food.foodDescription}}</p>
                </div>
                <ng-container *ngFor="let multi of food.multiPrice">

                    <div class="row tap-out-row">
                        <div class="col-xs-9 multi">
                            <p class="multi-description">{{multi.description}}</p>
                        </div>
                        <div class="col-xs-3 multi">
                            <p class="tap-out-paragraph">
                                {{multi.price}}<span
                                    [innerHTML]="vietnameseDong"></span>
                            </p>
                        </div>
                    </div>

                </ng-container>

            </ng-container>
        </div>
    </article>
</section>
