@import "../../guest-center.component.css";

img {
    border: 0;
    height: 22px;
    float: right;
}

.multi-description {
    margin: 0;
    text-align: left;
}

.multi {
    padding-left: 5px;
    padding-right: 5px;
}