<ng-container *ngFor="let category of menuData; let index = index;">
    <button class="button"
            data-toggle="collapse"
            attr.data-target="#category-{{category.id}}"
            [class.spacer]="index === 0"
            [disabled]="updating">
        <span style="float: left">Page Position: {{category.position}}</span>
        {{category.enName}} / {{category.vnName}}
    </button>
    <div class="col-xs-12 menu-item border-black collapse in"
         id="category-{{category.id}}">

        <form #categoryItem="ngForm" *ngIf="category.editToggle">
            <div class="edit-category col-xs-9">

                <label class="col-xs-3" for="enName">English name:</label>
                <input class="col-xs-3"
                       id="enName"
                       name="enName"
                       type="text" required
                       minlength="4"
                       maxlength="255"
                       autocomplete="off"
                       (change)="formChange()"
                       [(ngModel)]="model.enName"
                       #enName="ngModel">

                <label class="col-xs-3" for="vnName">Vietnamese name:</label>
                <input class="col-xs-3"
                       id="vnName"
                       name="vnName"
                       type="text" required
                       minlength="4"
                       maxlength="255"
                       autocomplete="off"
                       (change)="formChange()"
                       [(ngModel)]="model.vnName"
                       #vnName="ngModel">

                <label class="col-xs-3" for="categoryTypes">Category type:</label>
                <select class="col-xs-3" id="categoryTypes"
                        name="type" required
                        (change)="formChange()"
                        [(ngModel)]="model.type"
                        #type="ngModel">
                    <option>food</option>
                    <option>drink</option>
                </select>

                <p class="col-xs-12 time-info">Created at: {{category.createdAt}}</p>
                <p class="col-xs-12 time-info">Last edited at: {{category.editedAt}}</p>

            </div>

            <div class="col-xs-3">

                <button class="button-edit"
                        (click)="moveUp(index)"
                        [disabled]="index === 0 || updating"
                        [class.invalid]="index === 0">
                    Move up<img src="/assets/icons/icon-arrow-up-25x25.png">
                </button>

                <button class="button-edit"
                        (click)="moveDown(index)"
                        [disabled]="lastCategory(index) || updating"
                        [class.invalid]="lastCategory(index)">
                    Move down<img src="/assets/icons/icon-arrow-down-25x25.png">
                </button>

                <button class="button-edit" [disabled]="updating"
                        (click)="category.editToggle = !category.editToggle; cancelEdit();">
                    Cancel<img src="/assets/icons/icon-cancel-25x25.png">
                </button>

                <button class="button-edit"
                        [disabled]="!hasChanged || categoryItem.form.invalid || updating"
                        [class.invalid]="!hasChanged || categoryItem.form.invalid"
                        (click)="initializeUpdate()">
                    Save<img src="/assets/icons/icon-save-25x25.png">
                </button>

            </div>
        </form>

        <div *ngIf="!category.editToggle">

            <div class="col-xs-9">
                <p class="col-xs-3">English name:</p>
                <p class="col-xs-3">{{category.enName}}</p>
                <p class="col-xs-3">Vietnamese name:</p>
                <p class="col-xs-3">{{category.vnName}}</p>
                <p class="col-xs-3">Category type:</p>
                <p class="col-xs-3">{{category.type}}</p>
                <p class="col-xs-12 time-info">Created at: {{category.createdAt}}</p>
                <p class="col-xs-12 time-info">Last edited at: {{category.editedAt}}</p>
            </div>

            <!-- Buttons -->
            <div class="col-xs-3">

                <button class="button-edit"
                        (click)="moveUp(index)"
                        [disabled]="index === 0 || updating"
                        [class.invalid]="index === 0">
                    Move up<img src="/assets/icons/icon-arrow-up-25x25.png">
                </button>

                <button class="button-edit"
                        (click)="moveDown(index)"
                        [disabled]="lastCategory(index) || updating"
                        [class.invalid]="lastCategory(index)">
                    Move down<img src="/assets/icons/icon-arrow-down-25x25.png">
                </button>

                <button class="button-edit" [disabled]="updating"
                        (click)="category.editToggle = !category.editToggle; initializeEdit(category);">
                    Edit<img src="/assets/icons/icon-edit-25x25.png">
                </button>

                <button class="button-edit" (click)="deleteCategory(category)">
                    Delete<img src="/assets/icons/icon-delete-25x25.png">
                </button>

            </div>
        </div>
    </div>
</ng-container>

