<article class="row">
    <div class="col-xs-12 border-black new-item-container">
        <form>
            <div class="col-xs-12">
                <label for="pagePosition">Page Position</label><br>
                <input type="number" id="pagePosition" name="pagePosition" class="page-position"
                       placeholder="Enter the desired page position...">
            </div>
            <div class="col-xs-5">

                <h3>English</h3>

                <label for="enHeading">Heading</label><br>
                <input type="text" id="enHeading" name="enHeading" autocomplete="off"
                       placeholder="Enter the desired English heading..."><br>

                <label for="enContent">Content</label><br>
                <textarea id="enContent" name="enContent"
                          placeholder="Enter the desired English content..."></textarea>
            </div>
            <div class="col-xs-5">

                <h3>Vietnamese</h3>

                <label for="enHeading">Heading</label><br>
                <input type="text" id="vnHeading" name="vnHeading" autocomplete="off"
                       placeholder="Enter the desired Vietnamese heading..."><br>

                <label for="enContent">Content</label><br>
                <textarea id="vnContent" name="vnContent"
                          placeholder="Enter the desired Vietnamese content..."></textarea>
            </div>
            <!-- @todo buttons here -->
            <div class="col-xs-2">

            </div>
        </form>
    </div>
</article>