<article class="col-xs-12 spacer editable-container">
    <form #categoryForm="ngForm" autocomplete="off">
        <!-- Form fields -->
        <div class="col-xs-9">

            <div class="row">
                <label class="col-xs-4 right"
                       for="enName">English Category Name:</label>
                <input class="col-xs-8"
                       id="enName"
                       name="enName"
                       autocomplete="off"
                       type="text"
                       required
                       maxlength="255"
                       minlength="4"
                       [(ngModel)]="model.enName"
                       #enName="ngModel">
                <div class="col-xs-12 input-info">
                    <p *ngIf="(enName.invalid && enName.touched) || showInfo">
                        Needs to be at least 4 characters long, and can't be longer than 255 characters
                    </p>
                </div>
            </div>

            <div class="row">
                <label class="col-xs-4 right"
                       for="vnName">Vietnamese Category Name:</label>
                <input class="col-xs-8"
                       id="vnName"
                       name="vnName"
                       autocomplete="off"
                       type="text"
                       required
                       maxlength="255"
                       minlength="4"
                       [(ngModel)]="model.vnName"
                       #vnName="ngModel">
                <div class="col-xs-12 input-info">
                    <p *ngIf="(vnName.invalid && vnName.touched) || showInfo">
                        Needs to be at least 4 characters long, and can't be longer than 255 characters
                    </p>
                </div>
            </div>

            <div class="row">
                <label class="col-xs-4 right"
                       for="type">Category Type:</label>
                <select class="col-xs-8"
                        id="type"
                        name="type"
                        required
                        [(ngModel)]="model.type"
                        #type="ngModel">
                    <option>food</option>
                    <option>drink</option>
                </select>
                <div class="col-xs-12 input-info">
                    <p *ngIf="(type.invalid && type.touched) || showInfo">
                       Category type is required
                    </p>
                </div>
            </div>

            <div class="row">
                <label class="col-xs-4 right"
                       for="position">Page position:</label>
                <input class="col-xs-8"
                       id="position"
                       name="position"
                       autocomplete="off"
                       type="number"
                       required
                       min="1"
                       (blur)="formatPagePosition()"
                       [(ngModel)]="model.position"
                       #position="ngModel">
            </div>
            <div class="col-xs-12 input-info" style="height: 40px;">
                <p *ngIf="showInfo">
                    Page position needs to be between 1 and {{highestPosition}} (including {{highestPosition}})
                </p>
            </div>
        </div>

        <!-- Form buttons -->
        <div class="col-xs-3">

            <button class="button-edit"
                    [disabled]="updating"
                    [class.disabled]="updating"
                    (click)="toggleShowInfo()">
                Info
            </button>

            <button class="button-edit"
                    [disabled]="!categoryForm.form.valid || updating"
                    [class.disabled]="updating"
                    [class.invalid]="categoryForm.form.invalid"
                    (click)="initializeNewCategory(categoryForm.form)">
                Save<img src="/assets/icons/icon-save-25x25.png">

            </button>

            <button class="button-edit"
                    [disabled]="updating"
                    [class.disabled]="updating"
                    (click)="categoryForm.reset()">
                Clear<img src="/assets/icons/icon-edit-25x25.png">
            </button>

            <button class="button-edit"
                    [disabled]="updating"
                    [class.disabled]="updating"
                    (click)="goBack()">
                Cancel<img src="/assets/icons/icon-cancel-25x25.png">
            </button>

        </div>
    </form>
</article>
