.menu-item p {
    line-height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-item .button img {
    margin-right: -22px;
    padding-right: 0;
}
.create-item .button {
    width: 50%;
}

.menu-item {
    background-color: var(--off-background-color);
}

.button-edit {
    margin: 5px;
}

.edit-category select {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-category label {
    line-height: 26px;
}

.edit-category input {
    margin-top: 10px;
    margin-bottom: 10px;
}
