<section class="container">
    <article class="row sub-nav-bar">

        <a class="col-xs-6 button"
           [routerLink]="updating ? null : 'add-item'"
           routerLinkActive="button-active"
           [routerLinkActiveOptions]="{exact: true}"
           [class.disabled]="isDisabled">
            Add new menu item<img *ngIf="newItemToggle" src="/assets/icons/icon-add-25x25.png">
        </a>

        <a class="col-xs-6 button"
           [routerLink]="updating ? null : 'edit-items'"
           routerLinkActive="button-active"
           [routerLinkActiveOptions]="{exact: true}"
           [class.disabled]="isDisabled">
            Edit menu Items<img *ngIf="editItemToggle" src="/assets/icons/icon-edit-25x25.png">
        </a>

        <a class="col-xs-6 button"
           [routerLink]="updating ? null : 'add-category'"
           routerLinkActive="button-active"
           [routerLinkActiveOptions]="{exact: true}"
           [class.disabled]="updating">
            Add new menu category<img *ngIf="newCategoryToggle" src="/assets/icons/icon-add-25x25.png">
        </a>

        <a class="col-xs-6 button"
           [routerLink]="updating ? null : 'edit-category'"
           routerLinkActive="button-active"
           [routerLinkActiveOptions]="{exact: true}"
           [class.disabled]="isDisabled">
            Edit menu Categories<img *ngIf="editCategoryToggle" src="/assets/icons/icon-edit-25x25.png">
        </a>

    </article>
</section>
<router-outlet></router-outlet>
