<section class="container">
    <article class="row sub-nav-bar">

        <a class="col-xs-6 button"
           routerLink="add-item"
           [class.disabled]="!gotData || updating"
           [class.button-active]="newItemToggle"
           (click)="toggleNewItem()">
            Add new menu item<img *ngIf="newItemToggle" src="/assets/icons/icon-add-25x25.png">
        </a>

        <a class="col-xs-6 button"
           routerLink="add-category"
           [class.disabled]="updating"
           [class.button-active]="newCategoryToggle"
           (click)="toggleNewCategory()">
            Add new menu category<img *ngIf="newCategoryToggle" src="/assets/icons/icon-add-25x25.png">
        </a>

        <a class="col-xs-6 button"
           routerLink="edit-items"
           [class.disabled]="!gotData || updating"
           [class.button-active]="editItemToggle"
           (click)="toggleEditItem()">
            Edit Menu Items<img *ngIf="editItemToggle" src="/assets/icons/icon-edit-25x25.png">
        </a>

        <a class="col-xs-6 button"
           routerLink="edit-category"
           [class.disabled]="!gotData || updating"
           [class.button-active]="editCategoryToggle"
           (click)="toggleEditCategory()">
            Edit Menu Categories<img *ngIf="editCategoryToggle" src="/assets/icons/icon-edit-25x25.png">
        </a>

    </article>
</section>
<router-outlet></router-outlet>
