input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
input[type="number"]:hover {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
.spacer {
    margin-top: 10px;
}

.menu-item p {
    line-height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.create-item .button img {
    margin-right: -22px;
    padding-right: 0;
}
.create-item .button {
    width: 50%;
}

.button-container {
    padding-left: 0;
    padding-right: 0;
}

.button-edit-container {
    display: flex;
    flex-direction: column;
}

.menu-item {
    background-color: var(--off-background-color);
}

.input-info p {
    color: var(--comp-color);
}

.input-info {
    min-height: 40px;
}

.button-edit {
    margin: 5px;
}

.edit-category select {
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-category label {
    line-height: 26px;
}

.edit-category input {
    margin-top: 10px;
    margin-bottom: 10px;
}
.edit-category input[type="checkbox"] {
    margin-top: 17px;
    width: 13px;
}

.edit-category textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}

.right {
    text-align: right;
}

.warning .warning {
    font-weight: bold;
}

.warning .invalid {
    color: var(--comp-color);
}

.button-delete {
    margin-top: auto;
}
