@import url("assets/css/buttons.css");
@import url("assets/css/elements.css");
@import url("assets/css/generic.css");
@import url("assets/css/new-item.css");

:root {
    --text-color: white;
    --main-color: #7adad7;
    --comp-color: #da7a7d;
    --background-color: black;
    --off-background-color: #2c2c2c;
    --border-split-color: #3c3c3c;
}

#tap-out-nav {
    max-height: 352px;
}

@media (max-width: 885px) {

    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .collapse.navbar-collapse {
        display: none !important;
    }

    .nav.navbar-nav {
        float: none !important;
    }

    .navbar-nav > li {
        float: none;
    }

    .navbar-nav > li > a {
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #fff;
    }

    .collapse.in {
        display: block !important;
    }

}

/** Mobile size **/
@media (max-width: 767px) {
    body {
        background-position: 50% 75%;
        background-size: 45%;
    }
}

/** Larger than mobile */
@media (min-width: 767px) {
    body {
        background-position: 50% 75%;
        background-size: 35%;
    }
}

/* Container holding the info */
.inner-container {
    text-align: center;
    padding: 1px;
    margin: 0;
}

/* CSS for headers/big header buttons */
/* @todo: replace these with buttons from button css*/
.btn-primary {
    width: 100%;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid var(--background-color);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--off-background-color);
    color: var(--main-color);
    text-transform: uppercase;
    outline: none !important;
    padding-top: 6px;
    padding-bottom: 6px;
}

.btn-primary:hover {
    border-color: var(--background-color);
    background-color: var(--border-split-color);
    color: var(--main-color);
}

.btn-primary:focus {
    border-color: var(--background-color) !important;
    background-color: var(--border-split-color) !important;
    color: var(--main-color) !important;
}

.ctn-primary {
    font-size: 16px;
    border-radius: 0;
    text-align: center;
    border: 1px solid var(--background-color);
    font-weight: bold;
    background-color: var(--off-background-color);
    color: var(--main-color);
    text-transform: uppercase;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* CSS for headers */
.tap-out-header {
    width: 100%;
    font-size: 16px;
    border-radius: 0;
    border: 1px solid var(--background-color);
    text-decoration: none;
    font-weight: bold;
    background-color: var(--off-background-color);
    color: var(--main-color);
    text-transform: uppercase;
    outline: none !important;
    padding-top: 6px;
    padding-bottom: 6px;
}

/* CSS for subheadings */
.tap-out-sub-heading {
    margin: 0;
    padding: 5px;
    color: var(--comp-color);
    font-weight: bold;
    text-align: left;
}

/* Styling for the rest of the content */
.tap-out-paragraph {
    margin: 0;
    padding: 5px;
}

/* This aligns content containers with the rest of the pages content, so buttons/headers*/
.tap-out-content-container {
    border: 1px solid var(--background-color);
    margin: 0;
    background-color: var(--off-background-color);
}

.tap-out-row {
    margin: 0;
    display: inline;
}

.tap-out-content-border {
    border-top: solid var(--background-color) 1px;
    border-bottom: solid var(--border-split-color) 1px;
    padding-left: 5px;
    padding-right: 5px;
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.tap-out-description {
    text-align: left;
    margin: 0;
    padding-left: 5px;
    padding-right: 5px;

}

/* Arrow CSS for indicating button can be toggled*/
i {
    border: solid var(--main-color);
    border-width: 0 2px 2px 0;
    display: inline-block;
    padding: 3px;
    margin: 5px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
}