input[type="number"] {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}
input[type="number"]:hover {
    -webkit-appearance: none;
    -moz-appearance: textfield;
}

.editable-container p {
    line-height: 26px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.editable-container select {
    margin-top: 10px;
    margin-bottom: 10px;
}

.editable-container label {
    line-height: 26px;
}

.editable-container input {
    margin-top: 10px;
    margin-bottom: 10px;
}

.editable-container input[type="checkbox"] {
    margin-top: 17px;
    width: 13px;
}

.editable-container textarea {
    margin-top: 10px;
    margin-bottom: 10px;
}


.editable-container {
    border: 1px solid var(--background-color);
    background-color: var(--off-background-color);
}

.router-outlet-container {
    padding: 0;
}

.right {
    text-align: right;
}

.warning .warning {
    font-weight: bold;
}

.warning .invalid {
    color: var(--comp-color);
}

.spacer {
    margin-top: 10px;
}

.button-edit {
    margin: 5px;
}

.button-delete {
    position: relative;
    margin-top: 100%;
}
.disabled {
}
.disabled:hover {
    border-color: var(--background-color);
    background-color: var(--darkest-grey-color);
    color: var(--main-disabled-color);
    cursor: default;
}

.disabled:focus {
    color: var(--main-disabled-color);
}