<article class="col-xs-12 edit-category new-item-container border-black spacer">

    <form #itemForm="ngForm">
        <div class="col-xs-9">
            <div class="col-xs-4">
                <label for="category" class="col-xs-12">Category</label>
                <select id="category"
                        class="col-xs-12"
                        name="category"
                        (change)="formatCategoryId()"
                        [(ngModel)]="model.categoryId"
                        #category="ngModel" required minlength="1">
                    <option *ngFor="let category of menuData" [value]="category.id">
                        {{category.enName}} / {{category.vnName}}
                    </option>
                </select>
                <p *ngIf="category.invalid && category.touched" class="col-xs-12">
                    A category needs to be selected
                </p>

            </div>

            <div class="col-xs-4">

                <label for="price" class="col-xs-12">Price</label>
                <input type="text"
                       id="price"
                       name="price"
                       class="col-xs-12"
                       [(ngModel)]="model.price"
                       #price="ngModel" required
                       autocomplete="off"
                       minlength="2" maxlength="200"
                       placeholder="Enter the item price...">
                <p *ngIf="price.invalid && price.touched" class="col-xs-12">
                    A price needs to be set
                </p>
                <p [hidden]="hideTableHints" class="col-xs-12 menu-hints">
                    You don't need to use the dong sign, make sure a 'K' is after each price
                </p>

            </div>

            <div class="col-xs-4">

                <label for="categoryPosition" class="col-xs-12">Category Position</label>
                <input type="number"
                       id="categoryPosition"
                       name="categoryPosition"
                       class="col-xs-12"
                       (blur)="formatPosition()"
                       [(ngModel)]="model.position"
                       [disabled]="category.invalid"
                       #categoryPosition="ngModel" required
                       placeholder="Enter the placement...">
                <p *ngIf="categoryPosition.invalid && categoryPosition.touched" class="col-xs-12">
                    A page position needs to be set
                </p>
                <p [hidden]="hideTableHints" class="col-xs-12 menu-hints">
                    Category needs to be selected
                </p>
            </div>

            <div class="col-xs-12">

                <div class="row">
                    <div class="col-xs-6">

                        <h3 class="col-xs-12">English</h3>

                        <label for="enTitle" class="col-xs-12">Title</label>
                        <input type="text"
                               id="enTitle"
                               name="enTitle"
                               autocomplete="off"
                               class="col-xs-12"
                               [(ngModel)]="model.enTitle"
                               #enTitle="ngModel" required
                               minlength="2"
                               maxlength="255"
                               placeholder="Enter the desired English title...">
                        <p *ngIf="enTitle.invalid && enTitle.touched" class="col-xs-12">
                            The title needs to be set, needs to be between 4 and 255 characters</p>

                    </div>
                    <div class="col-xs-6">

                        <h3 class="col-xs-12">Vietnamese</h3>

                        <label for="vnTitle" class="col-xs-12">Title</label>
                        <input type="text"
                               id="vnTitle"
                               name="vnTitle"
                               autocomplete="off"
                               class="col-xs-12"
                               [(ngModel)]="model.vnTitle"
                               #vnTitle="ngModel" required
                               minlength="2"
                               maxlength="255"
                               placeholder="Enter the desired Vietnamese title...">
                        <p *ngIf="vnTitle.invalid && vnTitle.touched" class="col-xs-12">
                            The title needs to be set, needs to be between 4 and 255 characters
                        </p>

                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-6">

                        <label for="enDescription" class="col-xs-12">Description</label>

                        <textarea id="enDescription"
                                  name="enDescription"
                                  class="col-xs-12"
                                  [(ngModel)]="model.enDescription"
                                  placeholder="Enter the desired English Description..."
                                  #enDescription="ngModel"
                                  minlength="4" required
                                  [disabled]="model.disableDescription"></textarea>
                        <p *ngIf="enDescription.invalid && enDescription.touched && !model.disableDescription"
                           class="col-xs-12">
                            The description needs to be set, needs to be between longer than 4 characters,
                            you can also disable the description
                        </p>
                        <p [hidden]="hideTableHints" class="col-xs-12 menu-hints">
                            Don't forget the Vietnamese description
                        </p>

                    </div>
                    <div class="col-xs-6">

                        <label for="vnDescription" class="col-xs-6">Description</label>
                        <label for="noVnDescription" class="col-xs-5">No description</label>

                        <input type="checkbox"
                               id="noVnDescription"
                               class="col-xs-1"
                               name="noVnDescription"
                               [(ngModel)]="model.disableDescription"
                               #noVnDescription="ngModel">

                        <textarea id="vnDescription"
                                  class="col-xs-12"
                                  name="vnDescription"
                                  [(ngModel)]="model.vnDescription"
                                  placeholder="Enter the desired Vietnamese Description..."
                                  #vnDescription="ngModel"
                                  minlength="4" required
                                  [disabled]="model.disableDescription"></textarea>

                        <p *ngIf="vnDescription.invalid && vnDescription.touched && !model.disableDescription"
                           class="col-xs-12">
                            The description needs to be set, needs to be between longer than 4 characters,
                            you can also disable the description
                        </p>
                        <p [hidden]="hideTableHints" class="col-xs-12 menu-hints">
                            Don't forget the English description
                        </p>

                    </div>
                </div>
            </div>
        </div>

        <div class="col-xs-3">

            <button class="button-edit"
                    [disabled]="updating"
                    [class.disabled]="updating"
                    (click)="toggleTableHints(itemForm.form.invalid)">
                Info
            </button>

            <button class="button-edit"
                    [disabled]="!itemForm.form.valid || updating"
                    [class.disabled]="updating"
                    [class.invalid]="itemForm.form.invalid"
                    (click)="saveItem(itemForm.form)">
                Save<img src="/assets/icons/icon-save-25x25.png">
            </button>

            <button class="button-edit"
                    [disabled]="updating"
                    [class.disabled]="updating"
                    (click)="itemForm.reset()">
                Clear<img src="/assets/icons/icon-edit-25x25.png">
            </button>

            <button class="button-edit"
                    [disabled]="updating"
                    [class.disabled]="updating"
                    (click)="newItemComponentToggle = false">
                Cancel<img src="/assets/icons/icon-cancel-25x25.png">
            </button>

        </div>
    </form>
    <!--<div class="row" style="width: 100%">-->
    <!--<p>Category ID: {{model.categoryId}}</p>-->
    <!--<p>Price: {{model.price}}</p>-->
    <!--<p>Page position: {{model.position}}</p>-->
    <!--<p>English Title: {{model.enTitle}}</p>-->
    <!--<p>English Description: {{model.enDescription}}</p>-->
    <!--<p>Vietnamese Title: {{model.vnTitle}}</p>-->
    <!--<p>Vietnamese Description: {{model.vnDescription}}</p>-->
    <!--<p>Disable description: {{model.disableDescription}}</p>-->
    <!--</div>-->
</article>